// Imports
@import "../fonts";
@import "../colors";

.hero {
	@apply bg-red bg-gradient-to-t from-darkRed;

	nav {
		ul {
			li {
				a {
					font-family: $fontStyle_body;
					@apply uppercase tracking-wide font-bold;
				}
			}
		}
	}
}

// Side Screen Nav
.nav {
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	display: flex;
	position: fixed;
	max-width: 35rem;
	overflow: hidden;
	width: 83.333333%;
	visibility: hidden;
	transition: all 500ms ease-in-out;
	clip-path: circle(30px at calc(100% - 65px) 65px);
}

.nav {
	::-webkit-scrollbar {
		// display: none;

		width: 0.65rem;
		height: 0.65rem;
	}

	::-webkit-scrollbar-track {
		background: $darkRed;
	}

	::-webkit-scrollbar-thumb {
		background: $red;
		border-radius: 100px;

		&:hover {
			transition: all 0.5s;
			background-color: $lightRed;
		}
	}
}

// Reveal Fullscreen Nav
.navReveal {
	visibility: visible;
	clip-path: circle(100%);
}

.navToggle {
	cursor: pointer;
	position: fixed;
	z-index: 999;
	right: 0px;
	top: 0px;
	padding: 0;
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 15%;
	line-height: 0.6;
	text-align: center;

	span {
		// the second divider
		display: inline-block;
		position: relative;
		height: 2px;
		width: 34px;
		border-radius: 1px;
		background: #ffffff;
		vertical-align: middle;
		&:before,
		&:after {
			display: inline-block;
			position: absolute;
			content: "";
			height: 2px;
			border-radius: 1px;
			background: #ffffff;
			// for the hover state
			transition: all 200ms;
		}
		&:before {
			top: -11px;
			left: 3px;
			width: 28px;
		}
		&:after {
			top: 11px;
			left: 6px;
			width: 22px;
		}
	}

	&:focus {
		outline: none;
	}
	&:hover > span:after,
	&:hover > span:before {
		width: 34px;
		left: 0;
	}
}

// Open Full Screen Nav
.navToggleOpen {
	cursor: pointer;
	position: fixed;
	z-index: 999;
	right: 20px;
	top: 10px;
	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	line-height: 0.6;
	border-radius: 15%;
	text-align: center;
	background: $red;

	span {
		height: 0px;
		width: 27px;
		position: relative;
		border-radius: 1px;
		vertical-align: middle;
		display: inline-block;
		background: $baseColor_white;

		&:after,
		&:before {
			content: "";
			left: 0;
			top: 0px;
			width: 27px;
			height: 2px;
			position: absolute;
			border-radius: 1px;
			display: inline-block;
			background: $baseColor_white;
			// for the hover state
			transition: all 200ms;
		}
		&:after {
			top: -2px;
			left: 1px;
			transform: rotate(-45deg);
		}
		&:before {
			top: -1px;
			left: 0px;
			transform: rotate(45deg);
		}
	}
	&:hover {
		background: $darkRed;
		transition: all 500ms ease-in-out;
	}
}
