// Colours Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_grey: #f4f4f4;
$baseColor_grey: #b3b3b3;
$baseColor_pureBlack: #000;
$baseColor_darkGrey: #8f8f8f;
$baseColor_lightGrey: #f5f5f5;
$baseColor_lightBlack: #292929;

// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #fa0008;
$primary-light: #fa797e;
$primary-dark: #a70107;
$primary-darker: #720004;
$primary-darkerTwo: #4e0104;

$accent-default: #f6ad37;
$accent-two: #e8b042;
$accent-dark: #e4a002;
$accent-darker: #bc7700;

$tertiary-default: #dfc695;
$tertiary-two: #d4af37;
$tertiary-dark: #dfc695;
$tertiary-darker: #b68b36;
