@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/fonts";
@import "./base/colors";

@import "./components/CTA.module.scss";
@import "./components/SocialMedia.module.scss";
@import "./components/AboutContentImage.module.scss";
@import "./components/Elements/Paragraph.module.scss";

html,
body {
	@apply p-0 m-0 bg-white;
	scroll-behavior: smooth;
	font-family: -apple-system, $body, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
	display: none;
	width: 0.65rem;
	height: 0.65rem;
}

body::-webkit-scrollbar-track {
	background: $white;
}

body::-webkit-scrollbar-thumb {
	background: $primary-default;
	border-radius: 100px;

	&:hover {
		transition: all 0.5s;
		background-color: $primary-light;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

p {
	@apply py-2;
}

h1,
h2 {
	font-family: $main;
}

// Contact Info Component
.openingHours {
	table {
		td {
			strong {
				@apply font-VitroTrialHeavy uppercase italic mr-6;
			}
		}
	}
}

.buttonStyling {
	@apply py-4 px-10 uppercase font-VitroTrialHeavy italic tracking-widest text-center text-white bg-primary-default hover:bg-primary-dark transition-all ease-in-out duration-500;
}

.buttonStyling-alt {
	@extend .buttonStyling;
	@apply hover:bg-accent-default;
}

.buttonStyling-alt-two {
	@extend .buttonStyling;
	@apply hover:bg-primary-darker;
}

.buttonStyling-alt-three {
	@extend .buttonStyling;
	@apply bg-accent-default hover:bg-primary-default;
}

.buttonStyling-alt-four {
	@extend .buttonStyling;
	@apply bg-accent-default hover:bg-accent-dark;
}

.buttonStyling-white {
	@extend .buttonStyling;
	@apply bg-white text-pureBlack hover:text-white hover:bg-primary-darker;
}

/* Testimonials Swiper.js Slider */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	margin: auto 0;
	justify-content: center;
	align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
	@apply mt-64 lg:mt-0 w-16 h-16 p-8 border-2 border-primary-darker hover:border-primary-darker text-primary-darker hover:text-primary-darker;

	top: 85% !important;

	@media screen and (min-width: 1024px) {
		top: 50% !important;
	}
}

.swiper-button-prev::after {
	content: "next";
	width: 15px !important;
	height: 15px !important;
	font-size: 15px !important;
	font-weight: 900 !important;
	color: $primary-dark !important;
}

.swiper-button-next::after {
	content: "next";
	width: 15px !important;
	height: 15px !important;
	font-size: 15px !important;
	font-weight: 900 !important;
	color: $primary-dark !important;
}
